.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(18 158 84 / var(--tw-bg-opacity));
}

.bg-primary\/90 {
    /* background-color: rgb(18 158 84 / 0.9); */
    background-color: #129e54;
    opacity: 90%;

}

.table-row-striped.active {
    background-color: (20 176 93 / var(--tw-bg-opacity));
}

.text-primary {
    color: #129e54;
    opacity: 0.8;
}

.schedule-table {

    & th,
    & td {
        padding: 0.25rem;
    }

    & th,
    & td {
        font-size: 6pt;
    }

    @media (min-width: 479px) {

        & th,
        & td {
            padding: 1rem;
        }
    }

    @media (min-width: 479px) {

        & th,
        & td {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

    @media (min-width: 768px) {

        & th,
        & td {
            padding: 1rem;
        }
    }

    @media (min-width: 768px) {

        & th,
        & td {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

    @media print {

        & th,
        & td {
            padding: 0px;
        }
    }

    @media print {

        & th,
        & td {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media print {

        & th,
        & td {
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }
    }

    @media print {

        & th,
        & td {
            font-size: 0.6rem;
        }
    }

    .hijri-date-text {
        margin-top: -0.5rem;
    }

    .hijri-date-text {
        display: block;
    }

    .hijri-date-text {
        font-size: 3pt;
    }

    @media (min-width: 479px) {
        .hijri-date-text {
            margin-top: 0px;
        }
    }

    @media (min-width: 479px) {
        .hijri-date-text {
            font-size: 6pt;
        }
    }

    @media print {
        .hijri-date-text {
            display: none;
        }
    }
}

.select2-praytime {
    & .select2-container {
        margin-top: 0.5rem;
    }

    & .select2-container {
        min-width: 14rem;
    }

    & .select2-container {
        & .select2-selection {
            text-align: center;
        }

        @media (min-width: 1024px) {
            & .select2-selection {
                text-align: left;
            }
        }

        & .select2-selection {
            & .select2-selection__rendered {
                display: inline;
            }

            & .select2-selection__rendered {
                text-align: left;
            }

            & .select2-selection__rendered {
                font-weight: 700;
            }

            & .select2-selection__rendered {
                --tw-text-opacity: 1;
                color: rgb(18 158 84 / var(--tw-text-opacity));
            }
        }
    }
}

/* .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important
} */
.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(20 176 93 / var(--tw-bg-opacity));
}


schedule-table {

    & th,
    & td {
        padding: 0.25rem;
    }

    & th,
    & td {
        font-size: 6pt;
    }

    @media (min-width: 479px) {

        & th,
        & td {
            padding: 1rem;
        }
    }

    @media (min-width: 479px) {

        & th,
        & td {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

    @media (min-width: 768px) {

        & th,
        & td {
            padding: 1rem;
        }
    }

    @media (min-width: 768px) {

        & th,
        & td {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

    @media print {

        & th,
        & td {
            padding: 0px;
        }
    }

    @media print {

        & th,
        & td {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media print {

        & th,
        & td {
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }
    }

    @media print {

        & th,
        & td {
            font-size: 0.6rem;
        }
    }

    .hijri-date-text {
        margin-top: -0.5rem;
    }

    .hijri-date-text {
        display: block;
    }

    .hijri-date-text {
        font-size: 3pt;
    }

    @media (min-width: 479px) {
        .hijri-date-text {
            margin-top: 0px;
        }
    }

    @media (min-width: 479px) {
        .hijri-date-text {
            font-size: 6pt;
        }
    }

    @media print {
        .hijri-date-text {
            display: none;
        }
    }
}

.table-row-striped {
    &:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    }
    :is(.dark &:hover) {
      --tw-bg-opacity: 1;
      background-color: rgb(23 36 46 / var(--tw-bg-opacity));
    }
    &:nth-child(even) {
      --tw-bg-opacity: 1;
      background-color: rgb(242 240 240 / var(--tw-bg-opacity));
    }
    :is(.dark &:nth-child(even)) {
      --tw-bg-opacity: 1;
      background-color: rgb(23 36 46 / var(--tw-bg-opacity));
    }
    & > td:first-child {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    & > td:last-child {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
  
  .table-row-striped.active {
    --tw-bg-opacity: 1;
    background-color: rgb(20 176 93 / var(--tw-bg-opacity));
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }